@using System.Text.RegularExpressions
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime



<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


    @if (IsWeChat)
    {
        <MudLayout>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.Large">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    }
    else
    {
        <MudLayout>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.Large" Style="height: 100vh">
                    <MudStack Class="page" Row="false" Justify="Justify.Center" AlignItems="AlignItems.Center">
                        <MudIcon Icon="@Icons.Material.Filled.Info" Style="Width:100px;height: 100px" Color="Color.Info" />
                        <p>请在微信客户端打开链接</p>
                    </MudStack>
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    }




@code
{

    bool IsWeChat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var userAgent = await JSRuntime.InvokeAsync<string>("eval", "navigator.userAgent");
        IsWeChat = userAgent.Contains("MicroMessenger");
    
        #if DEBUG
            IsWeChat = !IsWeChat;
        #endif

        return; //base.OnInitializedAsync();
    }

    
}
