@inject ILogger<LuckyDraw> _logger

<MudDialog >
    <DialogContent>
        <MudContainer Style="Width: 70vw; height: 100vw;">
            <MudStack Spacing="3" Justify="Justify.Center"  Style="width:100%;height: 100%;">
                
                <div class="box-container">
                    <div class="box">
                        <div class="box-face"></div>
                        <div class="box-face"></div>
                        <div class="box-face"></div>
                        <div class="box-face"></div>
                        <div class="box-face top @(IsOpenBox? "open-lid" : "")">5</div>
                        <div class="box-face"></div>
                    </div>
                </div>
                <div>
                @if (lotteryResult is not null)
                {
                        
                    if (lotteryResult.IsSuccess)
                    {
                        OpenBox();
                     
                    }
                    else
                    {
                      
                        <MudText>很遗憾，您的选择的奖品未被抽中</MudText>
                            OpenBox();
                    }
                }
                </div>
            </MudStack>
        </MudContainer>
    </DialogContent>
</MudDialog>



@code {


    [CascadingParameter] public MudDialogInstance Instance { get; set; }


    [Parameter] public string QRCode { set; get; }

    [Parameter] public string OpenId { set; get; }

    [Parameter] public string PrizeNumber { set; get; }

    private LotteryResult lotteryResult { set; get; }

    private bool IsOpenBox = false;


    DialogParameters parameters = new();
    JsonSerializerOptions options = new JsonSerializerOptions
    {
        PropertyNameCaseInsensitive = true
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            lotteryResult =  await  OnLuckyDraw();

            StateHasChanged();
        }
       // return base.OnAfterRenderAsync(firstRender);
    }

    
    private async Task OpenBox()
    {
        //await Task.Delay(5000); // 等待动画完成，这里的 5000 是动画持续时间（5秒）的毫秒表示
        IsOpenBox = true;
        StateHasChanged();
    }

    /// <summary>
    /// 开始抽奖
    /// </summary>
    /// <returns></returns>
    private async Task<LotteryResult> OnLuckyDraw()
    {
        try
        {
            
            if (string.IsNullOrEmpty(QRCode) && string.IsNullOrEmpty(OpenId) && string.IsNullOrEmpty(PrizeNumber))
            {
                return null;
            }
            var url = $"Lottery?qrcode={QRCode}&openid={OpenId}&prizennumber={PrizeNumber}";
            var response = await _httpClient.GetAsync(url);
            if (response.IsSuccessStatusCode)
            {
                var stream = await response.Content.ReadAsStringAsync();
                return JsonSerializer.Deserialize<LotteryResult>(stream, options);
            }
            return null;
        }
        catch (Exception e)
        {
            _logger.LogError($"获取抽奖活动信息异常：{e.Message}");
        }
        return null;
    }
}
